/*
    Document   : mhinfo-foundation/public/css/mhinfoï¼Žscss
    Created on : 2014-06-23 12:09 PM
    Author     : scopevale
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

/* colour variables */
$siteBgCol: #111111;
$siteCol: #ffffff;
$defaultCol: #eff1e6;
$indexCol: rgba(255,0,0,1);
$aboutCol: rgba(255,80,0,1);
$crimeCol: rgba(255,255,0,1);
$immigrationCol: rgba(0,0,255,1);
$other-lawCol: rgba(255,80,0,1);
$politicsCol: rgba(255,0,0,1);
$page-7Col: rgba(148,0,211,1);

body {
    background-color: $siteBgCol;
    color: $siteCol;
}

header {
	z-index: 101;
	position: relative;
	margin-top: 40px !important;
	margin-bottom: 30px !important;
	text-align: center;
	h1, h3 {
    display: inline;
    color: $defaultCol;
		font-size: 3em;
	}
}

#navbar ul {
  margin-top: 15px !important;
	li {
		background-color: transparent;
		height: 30px;
		line-height: 2.5;
		list-style: none;
		margin-bottom: 10px;
		position: relative;
		div.menu-item-bottom {
			background-color: $defaultCol;
			height: 5px;
			width: 90px;
			position: absolute;
			top: 35px;
			div.lozenge {
				height: 5px;
				width: 10px;
				position: absolute;
				top: 0;
				left: 80px;
			}
			/* set the individual menu item lozenge colours */
			div.lozenge.index {
				background-color: rgba(255,0,0,1);
			}
			div.lozenge.about {
				background-color: rgba(255,80,0,1);
			}
			div.lozenge.crime {
				background-color: rgba(255,255,0,1);
			}
			div.lozenge.immigration {
				background-color: rgba(0,0,255,1);
			}
			div.lozenge.other-law {
				background-color: rgba(255,80,0,1);
			}
			div.lozenge.politics {
				background-color: rgba(255,0,0,1);
			}
			div.lozenge.page-7 {
				background-color: rgba(148,0,211,1);
			}
		}
	}
	/* set the bg colour foreach menu item - based on the current page */
	.index.active div.menu-item-bottom {
		background-color: $indexCol;
	}
	.about.active div.menu-item-bottom {
		background-color: $aboutCol;
	}
	.crime.active div.menu-item-bottom {
		background-color: $crimeCol;
	}
	.immigration.active div.menu-item-bottom {
		background-color: $immigrationCol;
	}
	.active.other-law div.menu-item-bottom {
		background-color: $other-lawCol;
	}
	.active.politics div.menu-item-bottom {
		background-color: $politicsCol;    
	}
	.active.page-7 div.menu-item-bottom {
		background-color: $page-7Col;
	}
	a, a:visited, a:hover {
    color: $defaultCol;
    font-size: 110%;
    font-variant: small-caps;
    font-weight: bold; 
    text-decoration: none;
	}
}

#content {
    background-color: #ffffff;
    background-color: transparent;
    color: $defaultCol;
    min-height: 100%;
    position: relative;
    padding: 10px 0 0 20px;
    font-family: verdana, sans-serif;
}

footer {
	img, h5 {
		display: inline;
		
	}
}

#footerbar {
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

#disclaimer {
    padding-top: 10px;
    cursor: pointer;
    position: absolute;
    left: 100px;
}
#disclaimer h5 {
    color: $defaultCol;	
		font-size: 90%;
}

#scopevale {
    position: absolute;
    right: 0px;
}

#disclaimer-modal {
    display: none;
		background-color: #777777;
}

#scopevale a, #scopevale a:visited, #scopevale a:hover {
	text-decoration: none;
	color: $defaultCol;
	font-size: 80%;
}

/* sticky footer */
html, body {
    height: 100%;
}

#wrap {
    height: auto;
    min-height: 100%;
}

#main {
    overflow: none;
    padding-bottom: 50px;  /* must be same height as the footer */
}

footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px !important;
    clear:both;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}
/* end sticky footer */

#content img {
    margin: 20px 0 0 20px;
}

.immigration-pg #content img, .other-law-pg #content img {
    margin-left: 0;
}

div.content-text {
	margin-top: 12px;
}

.not-found {
	color: #ffffff;
}

/* media queries for rainbow header/footer bar */
.rainbow {
    background-repeat: repeat-y;
    width: 100%;
    height: 10px;
}

@media screen and (max-width: 2000px) and (min-width: 1801px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-2000.png); 
    }
}

@media screen and (max-width: 1800px) and (min-width: 1601px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-1800.png); 
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-1600.png); 
    }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-1400.png); 
    }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-1200.png); 
    }
}

@media screen and (max-width: 1000px) and (min-width: 801px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-1000.png); 
    }
		/* adjust #navbar & .content-text for medium to small device screens */ 
		#navbar {
			padding-left: 60px;
		}
		.content-text {
			margin-left: -40px;
			margin-right: 30px;
		}
}

@media screen and (max-width: 800px) and (min-width: 601px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-800.png); 
    }
}

@media screen and (max-width: 600px) {
    .rainbow {
        background-image: url(/img/rainbow-gradient-600.png); 
    }
}
