.content-text.small-10.large-8.columns
	p
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, odio eu accumsan vulputate, purus nunc condimentum purus, a interdum justo augue quis lacus. Aenean iaculis, magna vel luctus molestie, metus nulla sodales risus, nec eleifend lacus nulla vitae purus. Nam in fermentum lorem. Sed ac diam urna. Donec laoreet ullamcorper massa a ullamcorper. Etiam iaculis justo a nunc rutrum tempor. Praesent dignissim neque in sem adipiscing condimentum. Suspendisse potenti. Cras vitae tincidunt dui. Aenean et justo lorem, et mollis massa. Proin ac tellus congue erat gravida dapibus. Mauris eget convallis lectus. Aenean eleifend, dui et pulvinar tincidunt, odio velit tincidunt libero, et lacinia lectus arcu in massa.
.content-img.small-10.large-4.columns
	img(src='/img/old-bailey-lady-justice-desat-02.png', alt='The Old Bailey')
