.content-text-wrap.small-6.columns
	.content-text
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, odio eu accumsan vulputate, purus nunc condimentum purus, a interdum justo augue quis lacus. Aenean iaculis, magna vel luctus molestie, metus nulla sodales risus, nec eleifend lacus nulla vitae purus. Nam in fermentum lorem. Sed ac diam urna. Donec laoreet ullamcorper massa a ullamcorper. Etiam iaculis justo a nunc rutrum tempor. Praesent dignissim neque in sem adipiscing condimentum. Suspendisse potenti. Cras vitae tincidunt dui. Aenean et justo lorem, et mollis massa. Proin ac tellus congue erat gravida dapibus. Mauris eget convallis lectus. Aenean eleifend, dui et pulvinar tincidunt, odio velit tincidunt libero, et lacinia lectus arcu in massa.
		p
			| Vestibulum condimentum turpis a mauris vehicula malesuada. Maecenas vitae nisi in dolor hendrerit volutpat eget at turpis. Vivamus hendrerit nisl ut justo interdum sodales. Donec massa ligula, euismod eu tristique quis, elementum id arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam mattis pharetra. Proin vehicula fermentum volutpat. Phasellus nec ligula leo. Aenean tempor iaculis nibh, nec pretium massa sollicitudin sit amet.
.small-4.columns
	img(src='/img/immigration_01.png')
