.content-text-wrap.small-6.columns
  .content-text
    p Welcome to my website
    p
      | I am a barrister called in 2000 in independent practice at
      br
      | 1 Pump Court Chambers, Temple. To book my services please contact my clerks on 0207-583-2012
    p
      | Please Note: I do not currently do "direct access" work and need to be booked via a solicitor
.small-4.columns
  img(src='/img/michelle-harrold-odell.png', alt='Michelle at Harold Odell  Park')
